@font-face {
  font-family: "Bad Script";
  src: url("../fonts/BadScript-Regular.woff2") format("woff2"), url("../fonts/BadScript-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

nav,
footer,
header,
aside {
  display: block;
}

in* {
  padding: 0;
  margin: 0;
  border: 0;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

.input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: inherit;
}

put,
button,
textarea {
  font-family: inherit;
}

.input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: inherit;
}

.wrapper {
  font-family: "Bad Script", "Arial", cursive;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(100px, auto) 1fr minmax(70px, auto);
      grid-template-rows: minmax(100px, auto) 1fr minmax(70px, auto);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "header" "main" "footer";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.header {
  background-color: #6060d4;
  padding: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
      grid-template-columns: 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ba6363;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.header__menu {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.header__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
}

.header__list li {
  padding: 0 0 0 20px;
}

.header__link {
  font-size: 20px;
  color: azure;
}

@media (max-width: 992px) {
  .header__list {
    display: none;
  }
  .header__burger span {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #9f529b;
    border-radius: 60%;
  }
  .header__menu {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

.main {
  padding: 30px 15px;
  background-color: #59ccb5;
}

.content {
  padding: 0 0 0 30px;
}

.content h1 {
  font-size: 50px;
  line-height: 1.3;
  letter-spacing: 5px;
  color: aquamarine;
}

.content__gallery {
  padding-bottom: 30px;
}

@media (min-width: 992px) {
  .main {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: main;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
        grid-template-columns: 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  }
  .sidebar {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .content {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
  }
}

.sidebar {
  background-color: #93f3b5;
  padding: 30px;
}

.sidebar__list li {
  margin-bottom: 15px;
}

.sidebar__link {
  font-size: 30px;
  line-height: 1.3;
  color: #057546;
  font-weight: 700;
}

.gallery h2 {
  color: cadetblue;
  font-size: 30px;
  line-height: 1.3;
  padding: 0 0 15px 0;
}

.gallery__items {
  display: -ms-grid;
  display: grid;
  gap: 15px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery__item {
  position: relative;
  padding: 0 0 85% 0;
}

.gallery__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 767px) {
  .gallery__item_big {
    grid-column: span 2;
    grid-row: span 2;
  }
}

.products__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 50px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.products__item {
  background-color: #ccb1c3;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: auto 1fr minmax(40px, auto);
      grid-template-rows: auto 1fr minmax(40px, auto);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.products__image {
  position: relative;
  padding: 0 0 80% 0;
}

.products__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products__name {
  font-size: 30px;
  line-height: 1.3;
  color: #f8f1f1;
  padding: 10px 0 20px 0;
}

.products__button {
  color: bisque;
  text-transform: uppercase;
  background-color: #76398d;
  letter-spacing: 3px;
  padding: 10px 20px;
  line-height: 25px;
  -ms-grid-column-align: start;
      justify-self: start;
}

@media (min-width: 589px) {
  .products__items {
    grid-auto-rows: 1fr;
  }
}

.footer {
  display: -ms-grid;
  display: grid;
  background-color: #4cb698;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
      grid-template-columns: 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__vk {
  display: block;
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 50%;
}

.footer__fb {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #d4aa12;
  border-radius: 50%;
}

.footer__inst {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #71d758;
  border-radius: 50%;
}

@media (min-width: 589px) {
  .footer__social {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .footer__text {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    text-align: right;
  }
}

@media (max-width: 589px) {
  .footer {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  .footer__social {
    margin: 0 auto;
  }
}
