.footer {
  display: grid;
  background-color: rgb(76, 182, 152);
  grid-template-rows: 1fr;
  grid-template-columns: 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  padding: 15px;
  align-items: center;

  &__social {
    // grid-column: 2 / 3;
    display: flex;
  }

  &__vk {
    display: block;
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
  }

  &__fb {
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgb(212, 170, 18);
    border-radius: 50%;
  }

  &__inst {
    display: block;
    width: 50px;
    height: 50px;
    background-color: rgb(113, 215, 88);
    border-radius: 50%;
  }

  // &__text {
  //   grid-column: 3 / 4;
  //   text-align: right;
  // }
}
@media (min-width: 589px) {
  .footer {
    &__social {
      grid-column: 2 / 3;
    }
    &__text {
      grid-column: 3 / 4;
      text-align: right;
    }
  }
}

@media (max-width: 589px) {
  .footer {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    text-align: center;
    &__social {
      margin: 0 auto;
    }
  }
}
