.gallery {
  &__title {
  }
  & h2 {
    color: cadetblue;
    font-size: 30px;
    line-height: 1.3;
    padding: 0 0 15px 0;
  }

  &__items {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  &__item {
    position: relative;
    padding: 0 0 85% 0;

    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    // &_big {
    //   grid-column: span 2;
    //   grid-row: span 2;
    // }
  }
}

@media (min-width: 767px) {
  .gallery {
    &__item_big {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}
