.header {
  background-color: rgb(96, 96, 212);
  padding: 15px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  align-items: center;

  &__logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(186, 99, 99);
    grid-column: 2 / 3;
  }

  &__menu {
    grid-column: 3 / 4;
  }

  &__list {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
  }

  &__list li {
    padding: 0 0 0 20px;
  }

  &__link {
    font-size: 20px;
    color: azure;
  }

  &__burger {
  }
}

@media (max-width: 992px) {
  .header {
    &__list {
      display: none;
    }
    &__burger {
      & span {
        display: block;
        width: 30px;
        height: 30px;
        background-color: rgb(159, 82, 155);
        border-radius: 60%;
      }
    }
    &__menu {
      display: grid;
      justify-content: end;
    }
  }
}
