.main {
  padding: 30px 15px;
  background-color: rgb(89, 204, 181);
}
// .sidebar {
//   grid-column: 2 / 3;
// }
.content {
  // grid-column: 3 / 4;
  padding: 0 0 0 30px;

  & h1 {
    font-size: 50px;
    line-height: 1.3;
    letter-spacing: 5px;
    color: aquamarine;
  }

  &__title {
  }

  &__gallery {
    padding-bottom: 30px;
  }

  &__products {
  }
}
@media (min-width: 992px) {
  .main {
    display: grid;
    grid-area: main;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  }
  .sidebar {
    grid-column: 2 / 3;
  }
  .content {
    grid-column: 3 / 4;
  }
}
