.products {
  &__title {
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 50px;
    column-gap: 30px;
    //все строки грид-сетки будут одной высоты
    // grid-auto-rows: 1fr;
  }

  &__item {
    background-color: rgb(204, 177, 195);
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr minmax(40px, auto);
    grid-template-columns: 1fr;
  }

  &__image {
    position: relative;
    padding: 0 0 80% 0;
  }
  &__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__name {
    font-size: 30px;
    line-height: 1.3;
    color: rgb(248, 241, 241);
    padding: 10px 0 20px 0;
  }

  &__button {
    color: bisque;
    text-transform: uppercase;
    background-color: rgb(118, 57, 141);
    letter-spacing: 3px;
    padding: 10px 20px;
    line-height: 25px;
    justify-self: start;
  }
}
@media (min-width: 589px) {
  .products {
    &__items {
      //все строки грид-сетки будут одной высоты
      grid-auto-rows: 1fr;
    }
  }
}
