.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: minmax(100px, auto) 1fr minmax(70px, auto);
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
.header {
  grid-area: header;
}
// .main {
//   grid-area: main;
// }
.footer {
  grid-area: footer;
}
