@font-face {
  font-family: "Bad Script";
  src: url("../fonts/BadScript-Regular.woff2") format("woff2"),
    url("../fonts/BadScript-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "_custom";
@import "_wrapper";
@import "_header";
@import "_main";
@import "_sidebar";
@import "_gallery";
@import "_products";
@import "_footer";
